<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>AI Blog Assistance</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/') }}">


    <style>
        html{
            font-size: px;
            }
        .display-4{
            font-weight: 500;
            }
        @media(min-width:576px){
           html{
            font-size: 20px;
            }
        .display-4{
            font-weight: 500;
            }
         .navbar{
            padding-left:300px;
            padding-right:300px;
            font-size:22px;
            }
          .jumbotron{
            min-height:200px;
            }
          .p-5{
            max-width:1500px;
            margin-bottom:70px !important;
            }
           }

    </style>


  </head>
  <body>
  <!-------------- Navigation Menu ------------>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="http://127.0.0.1:8888/">AI Writer</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavAltMarkup">
    <div class="navbar-nav ">
      <a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" href="{{ url_for('team') }}">Team</a>
    </div>
  </div>
</nav>


  <!----------------------------------->

  <div class="jumbotron  d-flex flex-wrap justify-content-center">
    <div class="p-5 flex-wrap">
      <h1 class="display-4">Team Members</h1>
    </div>
  </div>


<!------------------------------------------------------>

  <div class="container">
      <div class="card">
        <h5 class="card-header">Team Member 1</h5>
        <div class="card-body">
          <h5 class="card-title">MAHMUD AL MUHAIMIN</h5>
        <form class="" action="/" method="post">
            <div class="mb-3">
                <p>Student Number: 20193290598  <br> Software College <br> Yunnan University</p>
            </div>
          </form>
      </div>
    </div>

      <br>
      <hr>
      <br>





    <div class="card">
      <div class="card">
        <h5 class="card-header">Team Member 2</h5>
        <div class="card-body">
          <h5 class="card-title">ISLAM MD ARIFUL</h5>
        <form class="" action="/" method="post">
            <div class="mb-3">
                <p>Student Number: 20193290854  <br> Software College <br> Yunnan University</p>
            </div>
          </form>
      </div>
    </div>
</div>


      <br>
      <hr>
      <br>

    <div class="card">
        <div class="card">
        <h5 class="card-header">Team Member 3</h5>
        <div class="card-body">
          <h5 class="card-title">MD RASADUR RAHMAN</h5>
        <form class="" action="/" method="post">
            <div class="mb-3">
                <p>Student Number: 20193290653  <br> Software College <br> Yunnan University</p>
            </div>
          </form>
      </div>
    </div>
    </div>
  </div>


    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
